<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text">{{'NewPackage' | translate}}</h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newBackageForm">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in newBackageCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
                            {{lang.value | translate}}
                        </a>
                    </li>
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in newBackageCtrl.language" id="{{lang.value}}-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="first-name"> {{ lang.value+'Name' | translate}} </label>
                                    <input required Backage="text" class="mat-input form-control" name="titleDictionary{{lang.value+'Name'}}" ng-model="newBackageCtrl.titleDictionary[lang.key]"
                                        ng-minlength="3" ng-maxlength="255">
                                    <div ng-messages="newBackageForm.titleDictionary{{lang.value+'Name'}}.$error">

                                        <div ng-show="newBackageForm.titleDictionary{{lang.value+'Name'}}.$error.required && !newBackageForm.titleDictionary{{lang.value+'Name'}}.$pristine">
                                            {{'requiredErr' | translate}}</div>
                                        <div ng-show="(newBackageForm.titleDictionary{{lang.value+'Name'}}.$error.minlength || newBackageForm.titleDictionary{{lang.value+'Name'}}.$error.maxlength) && !newBackageForm.titleDictionary{{lang.value+'Name'}}.$error.required">
                                            {{'NameLengthError255' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in newBackageCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-desc-form" aria-controls="home" role="tab" data-toggle="tab">
                            {{lang.value | translate}}
                        </a>
                    </li>
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in newBackageCtrl.language" id="{{lang.value}}-desc-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="first-name"> {{ lang.value+'Description' | translate}} </label>
                                    <textarea required News="text" class="mat-input form-control" name="descriptionDictionary{{lang.value+'Name'}}" ng-model="newBackageCtrl.descriptionDictionary[lang.key]"
                                        ng-minlength="3" ng-maxlength="5255"></textarea>
                                    <div ng-messages="newBackageForm.descriptionDictionary{{lang.value+'Name'}}.$error">

                                        <div ng-show="newBackageForm.descriptionDictionary{{lang.value+'Name'}}.$error.required && !newBackageForm.descriptionDictionary{{lang.value+'Name'}}.$pristine">
                                            {{'requiredErr' | translate}}</div>
                                        <div ng-show="(newBackageForm.descriptionDictionary{{lang.value+'Name'}}.$error.minlength || newBackageForm.descriptionDictionary{{lang.value+'Name'}}.$error.maxlength) && !newBackageForm.descriptionDictionary{{lang.value+'Name'}}.$error.required">
                                            {{'NameLengthError255' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'Country' | translate}}</label>

                    <select required style="width:50% !important" class="form-control select-with-search pmd-select2-tags" ng-change="CountryChange()"
                        ng-model="selectedCountry" ng-options="a as a.titleDictionary[selectedLanguage] for a in CountryList"></select>
                </div>

                <div class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'City' | translate}}</label>

                    <select required style="width:50% !important" class="form-control select-with-search pmd-select2-tags" ng-change="CityChange()"
                        ng-model="selectedCity" ng-options="a as a.titleDictionary[selectedLanguage] for a in CityList"></select>
                </div>


                <div style="margin-right: 50px; width: 150px;" class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label>{{'Type' | translate}}</label>
                    <select required style="width:100% !important" class="form-control select-with-search pmd-select2-tags"   ng-model="newBackageCtrl.selectedType"
                        ng-options="Type as Type.titleDictionary[selectedLanguage] for Type in TypeList"></select>


                </div>

                <div class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label> {{ 'Currency' | translate}} </label>
                    <select required style="width:100% !important" class="form-control select-with-search pmd-select2-tags"   ng-model="newBackageCtrl.selectedCurrency"
                        ng-options="currency as currency.titleDictionary[selectedLanguage] for currency in CurrencyList"></select>

                </div> 


            </div>


            <div class="row">
                <div class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'Day Count' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="dayCount" numbers-only ng-model="newBackageCtrl.daysCount"
                        ng-minlength="1" ng-maxlength="1">

                    <div ng-messages="newBackageForm.dayCount.$error">
                        <div ng-if="newBackageForm.dayCount.$error.required && !newBackageForm.dayCount.$pristine">
                            {{'dayCount Required' | translate}}</div>
                        <div ng-if="(newBackageForm.dayCount.$error.minlength || newBackageForm.dayCount.$error.maxlength)">
                            {{'Max 1 number' | translate}}</div>
                    </div>
                </div>

                <div class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'Nigths Count' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="nigthsCount" numbers-only ng-model="newBackageCtrl.nigthsCount"
                        ng-minlength="1" ng-maxlength="1">

                    <div ng-messages="newBackageForm.nigthsCount.$error">
                        <div ng-if="newBackageForm.nigthsCount.$error.required && !newBackageForm.nigthsCount.$pristine">
                            {{'nigthsCount Required' | translate}}</div>
                        <div ng-if="(newBackageForm.nigthsCount.$error.minlength || newBackageForm.nigthsCount.$error.maxlength)">
                            {{'Max 1 number' | translate}}</div>
                    </div>
                </div>


                <!-- <div style="margin-right: 50px; width: 150px;" class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label>{{'Star' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="star" numbers-only ng-model="newBackageCtrl.star" ng-minlength="1"
                        ng-maxlength="1">

                    <div ng-messages="newBackageForm.star.$error">
                        <div ng-if="newBackageForm.star.$error.required && !newBackageForm.star.$pristine">
                            {{'Star Required' | translate}}</div>
                        <div ng-if="(newBackageForm.star.$error.minlength || newBackageForm.star.$error.maxlength)">
                            {{'Max 1 number' | translate}}</div>
                    </div>

                </div> -->

                <div class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label> {{ 'Price' | translate}} </label>
                    <input required type="text" class="mat-input form-control" name="phone" numbers-only ng-model="newBackageCtrl.price" ng-minlength="1" ng-maxlength="50">
                    <div ng-messages="newBackageForm.price.$error">
                        <div ng-if="newBackageForm.price.$error.required && !newBackageForm.price.$pristine">{{'priceReqError' | translate}}</div>
                        <div ng-if="(newBackageForm.price.$error.minlength || newBackageForm.price.$error.maxlength)">{{'priceLengthError' | translate}}</div>
                    </div>
                </div>


            </div>


            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">

                <input id="file" name="file" style="display: none;" onchange="angular.element(this).scope().AddFile(this.files)" type="file">
                <button ng-disabled="newBackageCtrl.files.length == 1" class="btn btn-primary editable-table-button btn-xs btn-with-icon" ng-click="newBackageCtrl.LoadUploadImages()">{{'AddImageBtn' |translate}}</button>

                <br>
                <div>
                    <table>
                        <tbody>
                            <tr ng-repeat="file in newBackageCtrl.files">
                                <td>
                                    {{file.name}}
                                </td>
                                <td>
                                    <i class="material-icons pmd-md deleteButton cursorPointer font25" style="font-size: 20px;color: grey;cursor: pointer;" ng-click="newBackageCtrl.removeFile($index)">delete</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </form>
    </div>
    <div class="pmd-modal-action text-right"> 
      <button ng-disabled="newBackageForm.$invalid || newBackageCtrl.files.length == 0 " class="btn pmd-ripple-effect btn-primary"
            Backage="button" ng-click="newBackageCtrl.AddNewBackage()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" Backage="button" ng-click="$state.go('Backage');">{{'DiscardBtn' | translate}}</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // $(".select-add-tags").select2({
        //     tags: true,
        //     theme: "bootstrap",
        //     insertTag: function (data, tag) { 
        //         data.push(tag); 
        //     }
        // });
        $(".select-tags").select2({
            tags: false,
            theme: "bootstrap",
        })

        $(".select-with-search").select2({
            theme: "bootstrap"
        });
    });

</script>