<div class="logincard" ng-if="!isLoggedIn()">
  	<div class="pmd-card card-default pmd-z-depth">
		<div class="login-card">
			<form ng-submit="submit(username,password)" name="loginForm">	
				<div class="pmd-card-body">
					<div class="alert alert-success" role="alert"> Oh snap! Change a few things up and try submitting again. </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="inputError1" class="control-label pmd-input-group-label">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">perm_identity</i></div>
                            <input type="text" class="form-control" id="exampleInputAmount" required name="username" ng-model="username" ng-change="reset()">
                        </div>
                    </div>
                    
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="inputError1" class="control-label pmd-input-group-label">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">lock_outline</i></div>
                            <input required type="password" name="password" ng-model="password" ng-change="reset()" minlength="6"  class="form-control" >
                        </div>
                    </div>
                </div>
                <div ng-if="invalidLoginInfo" class="loginFailed">
                    <span>Incorrect username or password.</span>
                </div>
                <div ng-if="inActiveUser" class="loginFailed">
                    <span>Your account is deleted.</span>
                </div>
				<div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
					<button  type="submit" class="btn pmd-ripple-effect btn-primary btn-block">Login</button>
				</div>
			</form>
		</div>
		
		
	</div>
</div>
