
<div>
    <div style="margin-bottom:10px">
        <button ng-click="$state.go('newCountry');" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddNew' | translate}}</button>

    </div> 
    <div ng-if="CountryList.results.length == 0">
        <span>{{'NoCountrysAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="CountryList.results.length > 0">
        <div class="table-responsive"></div>
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th>{{'Name' | translate}}</th>
                    <!-- <th>{{'status' | translate}}</th> -->
                    <th>{{'City' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="Country in CountryList.results">
                    <td data-title="Name">{{Country.titleDictionary[selectedLanguage]}}</td>
                    
                    <!-- <td>
                        <p ng-show="Country.isStatic"> Static</p>
                    </td> -->
                    <td>
                        <button ng-click="$state.go('newCity',{countryId: Country.countryId});" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddNewCity' | translate}}</button>
                        <span href="javascript:void(0);" ng-click="Country.show=!Country.show;CountryCtrl.showMore($event)" ng-show="Country.Cityes.length != 0"
                              class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm child-table-expand direct-expand"><i class="material-icons md-dark pmd-sm"></i></span>
                    </td>
                   
                    <td width="30%" ng-show="!Country.isStatic">
                        <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editCountry',{countryId: Country.countryId});">mode_edit</i>
                    </td>
                </tr>
                <tr ng-repeat-end ng-show="Country.show">
                    <td>
                        <table class="table pmd-table table-hover">
                            <thead>
                                <tr>
                                    <th>{{'Name' | translate}}</th>
                                    <!-- <th>{{'status' | translate}}</th> -->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="City in Country.cityes">
                                    <td data-title="Name">{{City.titleDictionary[selectedLanguage]}}</td> 
                                    <!-- <td>
                                        <p ng-show="City.isStatic"> Static</p>
                                    </td> -->
                                    <td width="30%" ng-show="!City.isStatic">
                                        <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editCity',{cityId: City.cityId});">mode_edit</i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount" paging-action="changePage(page)"
         flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
    </div>
</div>
