<div class="modal-content">
	<div class="modal-header bordered">
		<h2 class="pmd-card-title-text">{{'Owner' | translate}}</h2>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" name="editTypeForm"> 
                <div> 
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in editOwnerCtrl.language">
                            <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
                                {{lang.value | translate}}
                            </a>
                        </li> 
                    </ul>
                    <div class="pmd-card">
                        <div class="pmd-card-body">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in editOwnerCtrl.language" id="{{lang.value}}-form">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                                        <label for="first-name"> {{ lang.value+'Name' | translate}} </label>
                                        <input required type="text" class="mat-input form-control" name="titleDictionary{{lang.value+'Name'}}" ng-model="editOwnerCtrl.Owner.titleDictionary[lang.key]" ng-minlength="3" ng-maxlength="255">
                                        <div ng-messages="editTypeForm.titleDictionary{{lang.value+'Name'}}.$error" >
                                            
                                            <div ng-show="editTypeForm.titleDictionary{{lang.value+'Name'}}.$error.required && !editTypeForm.titleDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                            <div ng-show="(editTypeForm.titleDictionary{{lang.value+'Name'}}.$error.minlength || editTypeForm.titleDictionary{{lang.value+'Name'}}.$error.maxlength) && !editTypeForm.titleDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError255' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>

                   
                    </div>
                </div> 
                <div> 
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in editOwnerCtrl.language">
                            <a href="javascript:void(0);" data-target="#{{lang.value}}-postion-form" aria-controls="home" role="tab" data-toggle="tab">
                                {{lang.value | translate}}
                            </a>
                        </li> 
                    </ul>
                    <div class="pmd-card">
                        <div class="pmd-card-body">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in editOwnerCtrl.language" id="{{lang.value}}-postion-form">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                                        <label for="first-name"> {{lang.value+' Postion' | translate}} </label>
                                        <input required type="text" class="mat-input form-control" name="postionDictionary{{lang.value+'Name'}}" ng-model="editOwnerCtrl.Owner.postionDictionary[lang.key]" ng-minlength="3" ng-maxlength="255">
                                        <div ng-messages="editTypeForm.postionDictionary{{lang.value+'Name'}}.$error" >
                                            
                                            <div ng-show="editTypeForm.postionDictionary{{lang.value+'Name'}}.$error.required && !editTypeForm.postionDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                            <div ng-show="(editTypeForm.postionDictionary{{lang.value+'Name'}}.$error.minlength || editTypeForm.postionDictionary{{lang.value+'Name'}}.$error.maxlength) && !editTypeForm.postionDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError255' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>

                   
                    </div>
                </div> 
 

                <div> 
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in editOwnerCtrl.language">
                            <a href="javascript:void(0);" data-target="#{{lang.value}}-desc-form" aria-controls="home" role="tab" data-toggle="tab">
                                {{lang.value | translate}}
                            </a>
                        </li> 
                    </ul>
                    <div class="pmd-card">
                        <div class="pmd-card-body">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in editOwnerCtrl.language" id="{{lang.value}}-desc-form">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                                        <label for="first-name"> {{ lang.value+' Description' | translate}} </label>
                                        <textarea required type="text" class="mat-input form-control"
                                         name="descriptionDictionary{{lang.value+'Name'}}" 
                                         ng-model="editOwnerCtrl.Owner.descriptionDictionary[lang.key]"
                                          ng-minlength="3" ng-maxlength="255"></textarea>
                                        <div ng-messages="editTypeForm.descriptionDictionary{{lang.value+'Name'}}.$error" >
                                            
                                            <div ng-show="editTypeForm.descriptionDictionary{{lang.value+'Name'}}.$error.required && !editTypeForm.descriptionDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                            <div ng-show="(editTypeForm.descriptionDictionary{{lang.value+'Name'}}.$error.minlength || editTypeForm.descriptionDictionary{{lang.value+'Name'}}.$error.maxlength) && !editTypeForm.descriptionDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError255' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>

                   
                    </div>
                </div> 
 

		</form>
	</div>
	<div class="pmd-modal-action text-right">
		<button ng-disabled="editTypeForm.$invalid" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="editOwnerCtrl.UpdateOwner()">{{'saveChangesBtn' | translate}}</button>
		<button class="btn pmd-ripple-effect btn-default" type="button" ng-click="editOwnerCtrl.Close()">{{'DiscardBtn' | translate}}</button>
	</div>
</div>

	
