<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text">{{'City' | translate}}</h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newCityForm"> 
            <div> 
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in newCityCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
                            {{lang.value | translate}}  
                        </a>
                    </li> 
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in newCityCtrl.language" id="{{lang.value}}-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="first-name"> {{ lang.value+'Name' | translate}} </label>
                                    <input required City="text" class="mat-input form-control" name="titleDictionary{{lang.value+'Name'}}" ng-model="newCityCtrl.titleDictionary[lang.key]" ng-minlength="3" ng-maxlength="255">
                                    <div ng-messages="newCityForm.titleDictionary{{lang.value+'Name'}}.$error" >
										
                                        <div ng-show="newCityForm.titleDictionary{{lang.value+'Name'}}.$error.required && !newCityForm.titleDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                        <div ng-show="(newCityForm.titleDictionary{{lang.value+'Name'}}.$error.minlength || newCityForm.titleDictionary{{lang.value+'Name'}}.$error.maxlength) && !newCityForm.titleDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError255' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button ng-disabled="newCityForm.$invalid" class="btn pmd-ripple-effect btn-primary" City="button" ng-click="newCityCtrl.AddNewCity()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" City="button" ng-click="newCityCtrl.close()">{{'DiscardBtn' | translate}}</button>
    </div>
</div>
