<div>
    <div ng-if="BackageReservationList.results.length == 0">
        <span>{{'NoBackageReservationsAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="BackageReservationList.results.length > 0">
        <div class="table-responsive"></div>
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th>{{'Backage' | translate}}</th>
                    <th>{{'Date' | translate}}</th>
                    <th>{{'User' | translate}}</th>
                    <th>{{'Status' | translate}}</th>
                    <th>{{'InCharge' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{'red-text': BackageReservation.status == 3,'green-text': BackageReservation.status == 0}" ng-repeat="BackageReservation in BackageReservationList.results">
                    <td data-title="Backage">{{BackageReservation.backage.titleDictionary[selectedLanguage]}}</td>
                    <td data-title="Date">{{BackageReservation.creationTime | date : format : "DD/MM/YYYY"}}</td>
                    <td data-title="User"> {{BackageReservation.user.fullName}} </td>
                    <td> {{(StatusList |filter: {id: key})[BackageReservation.status].text | translate}} </td>
                    <td> {{BackageReservation.seenUser.fullName}} / {{BackageReservation.seenUser.title}} </td>
                    <td>
                        <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editBackageReservation',{backageReservationId: BackageReservation.backageReservationId});">mode_edit</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount" paging-action="changePage(page)"
        flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
    </div>
</div>