<div>
    <div ng-if="HotelReservationList.results.length == 0">
        <span>{{'NoHotelReservationsAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="HotelReservationList.results.length > 0">
        <div class="table-responsive"></div>
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th>{{'Hotel' | translate}}</th>
                    <th>{{'Date' | translate}}</th>
                    <th>{{'User' | translate}}</th>
                    <th>{{'Status' | translate}}</th>
                    <th>{{'InCharge' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{'red-text': HotelReservation.status == 3,'green-text': HotelReservation.status == 0}" ng-repeat="HotelReservation in HotelReservationList.results">
                    <td data-title="Hotel">{{HotelReservation.hotel.titleDictionary[selectedLanguage]}}</td>
                    <td data-title="Date">{{HotelReservation.creationTime | date : format : "DD/MM/YYYY"}}</td>
                    <td data-title="User"> {{HotelReservation.user.fullName}} </td>
                    <td> {{(StatusList |filter: {id: key})[HotelReservation.status].text | translate}} </td>
                    <td> {{HotelReservation.seenUser.fullName}} / {{HotelReservation.user.title}} </td>
                    <td>
                        <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editHotelReservation',{hotelReservationId: HotelReservation.hotelReservationId});">mode_edit</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount" paging-action="changePage(page)"
        flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
    </div>
</div>