<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text">{{'NewCareer' | translate}}</h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newCareerForm"> 
            <div> 
                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label for="first-name"> {{  'Name' | translate}} </label>
                    <input required Career="text" class="mat-input form-control" name="title" ng-model="newCareerCtrl.title" ng-minlength="3" ng-maxlength="255">
                    <div ng-messages="newCareerForm.title.$error" >
                        
                        <div ng-show="newCareerForm.title.$error.required && !newCareerForm.title.$pristine">{{'requiredErr' | translate}}</div>
                        <div ng-show="(newCareerForm.title.$error.minlength || newCareerForm.title.$error.maxlength) && !newCareerForm.title.$error.required">{{'NameLengthError255' | translate}}</div>
                    </div>
                </div>
            </div> 
            <div> 
                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label for="first-name"> {{' Description' | translate}} </label>
                    <textarea required Career="text" class="mat-input form-control" name="description" 
                    ng-model="newCareerCtrl.description" ng-minlength="3" ng-maxlength="255"></textarea>
                    <div ng-messages="newCareerForm.description.$error" >
                        
                        <div ng-show="newCareerForm.description.$error.required && !newCareerForm.description.$pristine">{{'requiredErr' | translate}}</div>
                        <div ng-show="(newCareerForm.description.$error.minlength || newCareerForm.description.$error.maxlength) && !newCareerForm.description.$error.required">{{'NameLengthError255' | translate}}</div>
                    </div>
                </div>
            </div> 
        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button ng-disabled="newCareerForm.$invalid" class="btn pmd-ripple-effect btn-primary" Career="button" ng-click="newCareerCtrl.AddNewCareer()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" Career="button" ng-click="$state.go('Career');">{{'DiscardBtn' | translate}}</button>
    </div>
</div>
