<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text">{{'UpdateTour' | translate}}</h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="UpdateTourForm">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in editTourCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab"
                            data-toggle="tab">
                            {{lang.value | translate}}
                        </a>
                    </li>
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}"
                                ng-repeat="lang in editTourCtrl.language" id="{{lang.value}}-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                                    <label for="first-name"> {{ lang.value+'Name' | translate}} </label>
                                    <input required Tour="text" class="mat-input form-control"
                                        name="titleDictionary{{lang.value+'Name'}}"
                                        ng-model="editTourCtrl.Tour.titleDictionary[lang.key]" ng-minlength="3"
                                        ng-maxlength="255">
                                    <div ng-messages="UpdateTourForm.titleDictionary{{lang.value+'Name'}}.$error">

                                        <div
                                            ng-show="UpdateTourForm.titleDictionary{{lang.value+'Name'}}.$error.required && !UpdateTourForm.titleDictionary{{lang.value+'Name'}}.$pristine">
                                            {{'requiredErr' | translate}}</div>
                                        <div
                                            ng-show="(UpdateTourForm.titleDictionary{{lang.value+'Name'}}.$error.minlength || UpdateTourForm.titleDictionary{{lang.value+'Name'}}.$error.maxlength) && !UpdateTourForm.titleDictionary{{lang.value+'Name'}}.$error.required">
                                            {{'NameLengthError255' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in editTourCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-desc-form" aria-controls="home"
                            role="tab" data-toggle="tab">
                            {{lang.value | translate}}
                        </a>
                    </li>
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}"
                                ng-repeat="lang in editTourCtrl.language" id="{{lang.value}}-desc-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                                    <label for="first-name"> {{ lang.value+'Description' | translate}} </label>
                                    <textarea required Updates="text" class="mat-input form-control"
                                        name="descriptionDictionary{{lang.value+'Name'}}"
                                        ng-model="editTourCtrl.Tour.descriptionDictionary[lang.key]" ng-minlength="3"
                                        ng-maxlength="5255"></textarea>
                                    <div ng-messages="UpdateTourForm.descriptionDictionary{{lang.value+'Name'}}.$error">

                                        <div
                                            ng-show="UpdateTourForm.descriptionDictionary{{lang.value+'Name'}}.$error.required && !UpdateTourForm.descriptionDictionary{{lang.value+'Name'}}.$pristine">
                                            {{'requiredErr' | translate}}</div>
                                        <div
                                            ng-show="(UpdateTourForm.descriptionDictionary{{lang.value+'Name'}}.$error.minlength || UpdateTourForm.descriptionDictionary{{lang.value+'Name'}}.$error.maxlength) && !UpdateTourForm.descriptionDictionary{{lang.value+'Name'}}.$error.required">
                                            {{'NameLengthError255' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div
                    class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'mekka Days' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="mekkaDays" numbers-only
                        ng-model="editTourCtrl.Tour.mekkaDays" ng-minlength="1" ng-maxlength="1">

                    <div ng-messages="UpdateTourForm.mekkaDays.$error">
                        <div ng-if="UpdateTourForm.mekkaDays.$error.required && !UpdateTourForm.mekkaDays.$pristine">
                            {{'mekkaDays Required' | translate}}</div>
                        <div
                            ng-if="(UpdateTourForm.mekkaDays.$error.minlength || UpdateTourForm.mekkaDays.$error.maxlength)">
                            {{'Max 1 number' | translate}}</div>
                    </div>
                </div>

                <div
                    class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'Madina Days' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="madinaDays" numbers-only
                        ng-model="editTourCtrl.Tour.madinaDays" ng-minlength="1" ng-maxlength="1">

                    <div ng-messages="UpdateTourForm.madinaDays.$error">
                        <div ng-if="UpdateTourForm.madinaDays.$error.required && !UpdateTourForm.madinaDays.$pristine">
                            {{'madinaDays Required' | translate}}</div>
                        <div
                            ng-if="(UpdateTourForm.madinaDays.$error.minlength || UpdateTourForm.madinaDays.$error.maxlength)">
                            {{'Max 1 number' | translate}}</div>
                    </div>
                </div>


                <div style="margin-right: 50px; width: 150px;"
                    class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label>{{'Duration' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="duration" numbers-only
                        ng-model="editTourCtrl.Tour.duration" ng-minlength="1" ng-maxlength="2">

                    <div ng-messages="UpdateTourForm.duration.$error">
                        <div ng-if="UpdateTourForm.duration.$error.required && !UpdateTourForm.duration.$pristine">
                            {{'duration Required' | translate}}</div>
                        <div
                            ng-if="(UpdateTourForm.duration.$error.minlength || UpdateTourForm.duration.$error.maxlength)">
                            {{'Max 2 number' | translate}}</div>
                    </div>

                </div>

                <div
                    class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label> {{ 'Price' | translate}} </label>
                    <input required type="text" class="mat-input form-control" name="price" numbers-only
                        ng-model="editTourCtrl.Tour.price" ng-minlength="1" ng-maxlength="50">
                    <div ng-messages="UpdateTourForm.price.$error">
                        <div ng-if="UpdateTourForm.price.$error.required && !UpdateTourForm.price.$pristine">
                            {{'priceReqError' | translate}}</div>
                        <div ng-if="(UpdateTourForm.price.$error.minlength || UpdateTourForm.price.$error.maxlength)">
                            {{'priceLengthError' | translate}}</div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div
                    class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label> {{ 'startFrom' | translate}} </label>
                    <input name="itemDatetime" ng-model="itemDatetime" ng-model="editTourCtrl.Tour.startFrom"
                        type="text" id="startFrom" class="form-control" ng-change="dateChange();" />
                    {{editTourCtrl.Tour.startFrom}}
                    <div ng-messages="UpdateTourForm.startFrom.$error">
                        <div ng-if="UpdateTourForm.startFrom.$error.required && !UpdateTourForm.startFrom.$pristine">
                            {{'startFromReqError' | translate}}</div>
                        <div
                            ng-if="(UpdateTourForm.startFrom.$error.minlength || UpdateTourForm.startFrom.$error.maxlength)">
                            {{'startFromLengthError' | translate}}</div>
                    </div>
                </div>

                <div
                    class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label> {{ 'startTo' | translate}} </label>
                    <input name="itemDatetime" ng-model="itemDatetime" type="text" id="startTo" class="form-control"
                        ng-change="dateChange();" />
                    <!-- <input required type="text" class="mat-input form-control" name="startTo" ng-model="editTourCtrl.startTo" ng-minlength="1"
                        ng-maxlength="50"> -->
                    <div ng-messages="UpdateTourForm.startTo.$error">
                        <div ng-if="UpdateTourForm.startTo.$error.required && !UpdateTourForm.startTo.$pristine">
                            {{'startToReqError' | translate}}</div>
                        <div
                            ng-if="(UpdateTourForm.startTo.$error.minlength || UpdateTourForm.startTo.$error.maxlength)">
                            {{'startToLengthError' | translate}}</div>
                    </div>
                </div>

                <div
                    class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label> {{ 'hotelTitle' | translate}} </label>
                    <input required type="text" class="mat-input form-control" name="hotelTitle"
                        ng-model="editTourCtrl.Tour.hotelTitle" ng-minlength="1" ng-maxlength="50">
                    <div ng-messages="UpdateTourForm.hotelTitle.$error">
                        <div ng-if="UpdateTourForm.hotelTitle.$error.required && !UpdateTourForm.hotelTitle.$pristine">
                            {{'hotelTitleReqError' | translate}}</div>
                        <div
                            ng-if="(UpdateTourForm.hotelTitle.$error.minlength || UpdateTourForm.hotelTitle.$error.maxlength)">
                            {{'hotelTitleLengthError' | translate}}</div>
                    </div>
                </div>


            </div>

            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">


                <input id="file" name="file" style="display: none;"
                    onchange="angular.element(this).scope().AddFile(this.files)" type="file">
                <!-- <button class="btn btn-primary editable-table-button btn-xs btn-with-icon"
                    ng-click="editTourCtrl.LoadUploadImages()">{{'AddImageBtn' |translate}}</button> -->

                <br>
                <div>
                    <table>
                        <tbody>
                            <tr ng-repeat="file in editTourCtrl.Tour.imagesURL">
                                <td>
                                    <img ng-src="{{file}}" style="max-height: 286px;max-width: 477px;">
                                </td>
                                <!-- <td>
                                        <i class="material-icons pmd-md deleteButton cursorPointer font25" style="font-size: 20px;color: grey;cursor: pointer;" ng-click="editTourCtrl.removeTourFile($index)">delete</i>
                                    </td> -->
                            </tr>
                        </tbody>
                    </table>

                </div>
                <br>
                <div>
                    <table>
                        <tbody>
                            <tr ng-repeat="file in editTourCtrl.files">
                                <td>
                                    {{file.name}}
                                </td>
                                <td>
                                    <i class="material-icons pmd-md deleteButton cursorPointer font25"
                                        style="font-size: 20px;color: grey;cursor: pointer;"
                                        ng-click="editTourCtrl.removeFile($index)">delete</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button
            ng-disabled="UpdateTourForm.$invalid || editTourCtrl.CheckImages.length == 0  || editTourCtrl.Tour.latitude  == ''"
            class="btn pmd-ripple-effect btn-primary" Tour="button"
            ng-click="editTourCtrl.UpdateTour()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" Tour="button"
            ng-click="$state.go('Tour');">{{'DiscardBtn' | translate}}</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".select-tags").select2({
            tags: false,
            theme: "bootstrap",
        })

        $(".select-with-search").select2({
            theme: "bootstrap"
        });
    });

</script>
<script>
    $(function () {
        var today = new Date();
        today.setDate(today.getDate() + 1)

        $('#startFrom').datetimepicker({
            widgetPositioning: { vertical: "bottom" },
            minDate: today,
        })
            .on('dp.change', function (e) {
                debugger;
                angular.element(document.getElementById('startFrom')).scope().dateChange();
            });

        $('#startTo').datetimepicker({
            widgetPositioning: { vertical: "bottom" },
            minDate: today,
        })
            .on('dp.change', function (e) {
                debugger;
                angular.element(document.getElementById('startTo')).scope().dateChange();
            });
    });

</script>