@using Tourista.API.Models
@using TouristaFrontEnd.Helper
@model List<Tourista.API.Models.BackageModel>

    @if (Model != null)
    {
        foreach (BackageModel backageObj in Model)
        {
            <div class="special-offer margin-top70">
                <h3 class="title-style-2">@TouristaFrontEnd.Resources.Global.Related</h3>
                <div class="special-offer-list" style="margin-bottom: 44px;height: max-content;">

                    <div class="special-offer-layout">
                        <div class="image-wrapper">
                            <a href="/Backage/Details/@backageObj.BackageId" class="link"><img src="@backageObj.ImagesURL[0]" alt="" class="img-responsive"></a>

                            <div class="title-wrapper">
                                <a href="/Backage/Details/@backageObj.BackageId" class="title">
                                    @(@backageObj.TitleDictionary[@Common.CurrentLang].Length >= 20 ? backageObj.TitleDictionary[@Common.CurrentLang].Substring(0, 20) : backageObj.TitleDictionary[@Common.CurrentLang])
                                </a>
                                <i class="icons flaticon-circle"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    }

