<div>
    <div ng-if="TourReservationList.results.length == 0">
        <span>{{'NoTourReservationsAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="TourReservationList.results.length > 0">
        <div class="table-responsive"></div>
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th>{{'Tour' | translate}}</th>
                    <th>{{'Date' | translate}}</th>
                    <th>{{'User' | translate}}</th>
                    <th>{{'Status' | translate}}</th>
                    <th>{{'InCharge' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{'red-text': TourReservation.status == 3,'green-text': TourReservation.status == 0}" ng-repeat="TourReservation in TourReservationList.results">
                    <td data-title="Tour">{{TourReservation.tour.titleDictionary[selectedLanguage]}}</td>
                    <td data-title="Date">{{TourReservation.creationTime | date : format : "DD/MM/YYYY"}}</td>
                    <td data-title="User"> {{TourReservation.user.fullName}} </td>
                    <td> {{(StatusList |filter: {id: key})[TourReservation.status].text | translate}} </td>
                    <td> {{TourReservation.seenUser.fullName}}   </td>
                    <td>
                        <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editTourReservation',{tourReservationId: TourReservation.tourReservationId});">mode_edit</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount" paging-action="changePage(page)"
        flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
    </div>
</div>