<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Confirmation_Msg" value="your reservation is successfully be informed the admin will contact with you ASAP"/>
    <add key="Confirmation_MsgAr" value="تم الحجز بنجاح وسوف  يقوم المشرف بالاتصال بكم في اسرع وقت ممكن"/>
    <add key="Mail.SendToName" value="New Request"/>
    <add key="Mail.From" value="test@5d-agency.com"/>
    <add key="Mail.CC" value="fikrytayel@omrati.net"/>
    <add key="Mail.To" value="eng.mohammadabdo@gmail.com"/>
    <!--<add key="Mail.To" value="eng.mohammadabdo@gmail.com"/>-->
    <!--<add key="mail.replay_to" value="test@5d-agency.com"/>-->
    <add key="mail.server.use_authentication" value="1"/>
    <add key="mail.server.address" value="mail.5d-agency.com"/>
    <add key="mail.server.port" value="587"/>
    <add key="mail.server.userName" value="test@5d-agency.com"/>
    <add key="mail.server.password" value="Changemen0w2"/>
    <add key="mail.admin.emailaddress" value="test@5d-agency.com"/>
    <add key="mail.subject" value="3omrati Reservation received"/>
  </appSettings>
</configuration>
