<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="API.SDK.Profit365" version="1.3.8" targetFramework="net452" />
  <package id="AutoMapper" version="5.1.1" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="MSharp.Framework" version="2.1.0.726" targetFramework="net452" />
  <package id="MyTestPackage-WinMD" version="1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net452" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net452" />
  <package id="Unity" version="4.0.1" targetFramework="net452" />
</packages>